.elementor-16 .elementor-element.elementor-element-112d410c:not(.elementor-motion-effects-element-type-background),
.elementor-16 .elementor-element.elementor-element-112d410c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-16 .elementor-element.elementor-element-112d410c {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #ededed;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 30px 0px;
}

.elementor-16 .elementor-element.elementor-element-112d410c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-70464382 {
    text-align: left;
}

.elementor-16 .elementor-element.elementor-element-70464382 .elementor-image img {
    width: 45%;
}

.elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(50px/2);
}

.elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(50px/2);
}

.elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(50px/2);
    margin-left: calc(50px/2);
}

.elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-50px/2);
    margin-left: calc(-50px/2);
}

body.rtl .elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-50px/2);
}

body:not(.rtl) .elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-50px/2);
}

.elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-icon {
    width: 14px;
}

.elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-icon i {
    font-size: 14px;
}

.elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-text {
    color: #828282;
}

.elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #333333;
}

.elementor-16 .elementor-element.elementor-element-40c8abf0 .elementor-icon-list-item {
    font-size: 14px;
    font-weight: 700;
}

.elementor-16 .elementor-element.elementor-element-40c8abf0>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-253180f0:not(.elementor-motion-effects-element-type-background),
.elementor-16 .elementor-element.elementor-element-253180f0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #333333;
}

.elementor-16 .elementor-element.elementor-element-253180f0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-253180f0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-604064a5>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-5b8fa951 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-70e126fb>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-62945c5b {
    text-align: left;
}

.elementor-16 .elementor-element.elementor-element-62945c5b.elementor-widget-heading .elementor-heading-title {
    color: #808080;
}

.elementor-16 .elementor-element.elementor-element-62945c5b .elementor-heading-title {
    font-family: "Helvetica", Sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.elementor-16 .elementor-element.elementor-element-62945c5b>.elementor-widget-container {
    margin: 11px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-4c5a690a>.elementor-element-populated,
.elementor-16 .elementor-element.elementor-element-4c5a690a>.elementor-element-populated>.elementor-background-overlay {
    border-radius: 5px 5px 5px 5px;
}

.elementor-16 .elementor-element.elementor-element-5433749c {
    text-align: right;
}

.elementor-16 .elementor-element.elementor-element-5433749c .elementor-social-icon:not(:hover) {
    background-color: rgba(68, 68, 68, 0);
}

.elementor-16 .elementor-element.elementor-element-5433749c .elementor-social-icon:not(:hover) i {
    color: rgba(255, 255, 255, 0.51);
}

.elementor-16 .elementor-element.elementor-element-5433749c .elementor-social-icon {
    font-size: 15px;
    padding: 0.7em;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-5433749c .elementor-social-icon:not(:last-child) {
    margin-right: 5px;
}

.elementor-16 .elementor-element.elementor-element-5433749c .elementor-social-icon:hover {
    background-color: rgba(255, 255, 255, 0);
}

.elementor-16 .elementor-element.elementor-element-5433749c .elementor-social-icon:hover i {
    color: #ffffff;
}

.elementor-16 .elementor-element.elementor-element-5433749c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(24px/2);
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(24px/2);
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(24px/2);
    margin-left: calc(24px/2);
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-24px/2);
    margin-left: calc(-24px/2);
}

body.rtl .elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-24px/2);
}

body:not(.rtl) .elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-24px/2);
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-icon {
    width: 14px;
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-icon i {
    font-size: 14px;
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-text {
    color: #808080;
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #ffffff;
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8 .elementor-icon-list-item {
    font-family: "Helvetica", Sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.elementor-16 .elementor-element.elementor-element-1cc1efe8>.elementor-widget-container {
    margin: 7px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-2699410a {
        width: 37.193%;
    }

    .elementor-16 .elementor-element.elementor-element-43cd130d {
        width: 62.807%;
    }

    .elementor-16 .elementor-element.elementor-element-70e126fb {
        width: 45.175%;
    }

    .elementor-16 .elementor-element.elementor-element-4c5a690a {
        width: 37.987%;
    }

    .elementor-16 .elementor-element.elementor-element-379279f6 {
        width: 16.834%;
    }
}

@media(max-width:1024px) {
    .elementor-16 .elementor-element.elementor-element-112d410c {
        padding: 50px 25px 50px 25px;
    }

    .elementor-16 .elementor-element.elementor-element-253180f0 {
        padding: 30px 25px 30px 25px;
    }
}

@media(max-width:767px) {
    .elementor-16 .elementor-element.elementor-element-112d410c {
        padding: 50px 25px 50px 25px;
    }

    .elementor-16 .elementor-element.elementor-element-70464382 {
        text-align: center;
    }

    .elementor-16 .elementor-element.elementor-element-253180f0 {
        padding: 30px 20px 30px 20px;
    }

    .elementor-16 .elementor-element.elementor-element-62945c5b {
        text-align: center;
    }

    .elementor-16 .elementor-element.elementor-element-62945c5b .elementor-heading-title {
        font-size: 12px;
        line-height: 25px;
    }

    .elementor-16 .elementor-element.elementor-element-5433749c {
        text-align: center;
    }
}